/* Добавляем в разделы settings и urls проекта строчки кода со страницы официальной документации
 https://docs.djangoproject.com/en/3.2/howto/static-files/  */

body {
    background: #292929;
}

aside {
    position: fixed;
    background: #4E4E4E;
    width: 250px;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 2px solid #4d4d4d;
}

div .logotype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }


aside img {
    width: 20px;
    margin: 0 5px;
    position: relative;
    top: -4px;
}

aside .logo {
    font-size: 20px;
    margin_left: 10px;
    font-weight: bold;
    font-style: italic;
    color: #1B1A1A;
}

aside .logopic {
    width: 10%;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

aside ul li {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    transition: transform .6s ease
}

aside ul a {
    text-decoration: none;
}

aside ul i {
    position: relative;
    bottom: -5px;
    margin-right: 5px;
}


aside ul li:hover, aside ul a:hover {
    color: #FFE600;
    text-decoration: none;
    transform: scale(1.05);
    }

aside ul li button i  {

}

main {
    display: flex;
    margin-left: 250px;
    justify-content: center;
        height: 100%;
}

main .features {
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .features h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

main .features p {max-width: 400px; margin: 20px auto}

.alert-warning {
    width: 400px;
    text-align: left;
}

form {
    margin-left: 28%;
    width: 500px;
    margin-top: 50px;
}

.main-page {
        color: var(--bs-body-bg);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;}

.aux-center {
    display: flex;
    height: 100%;
    align-items: center;

    }
