{% extends 'lesson_one/layout.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<div class="aux-center">
    <div class="main-page">
        <h1>Обо мне</h1>
        <p>Мои навыки и умения на текущий момент: </p>
        <ul>
            <li>Основы Python, объектно-ориентированного программирования</li>
            <li>Основы работы с базами данных (на примере MySQL)</li>
            <li>Django (данный веб-сайт работает на нём)</li>
            <li>Имеется небольшой опыт работы с API (умею писать простейшие парсеры данных)</li>
            <li>Основы работы с Git</li>
            <li></li>
        </ul>
        <a href="{% url 'home' %}" class="btn btn-primary">На главную страницу</a>
    </div>
</div>
{% endblock %}