<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Про нас</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Про нас.</h1>-->
<!--    <p>Здесь будет размещена информация обо мне.</p>-->
<!--</body>-->
<!--</html>-->

{% extends 'lesson_one/layout.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
    <div class="features">
        <h1>Обо мне</h1>
        <p>Я Junior Python Developer из Нижнего Новгорода. На настоящий момент нахожусь в поиске работы. </p>
        <button class="btn btn-danger">На главную страницу</button>
    </div>
{% endblock %}