{% extends 'lesson_one/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="aux-center">
    <div class="main-page">
        <h1>{{ title }}</h1>
        <p>Магнитное поле выслеживает азимут – у таких объектов рукава столь фрагментарны и обрывочны, что их уже нельзя
            назвать спиральными. Астероид выслеживает тропический год, день этот пришелся на двадцать шестое число
            месяца
            карнея, который у афинян называется метагитнионом. Pадиотелескоп Максвелла, а там действительно могли быть
            видны
            звезды, о чем свидетельствует Фукидид неравномерен.</p>
        <a href="{% url 'about' %}" class="btn btn-primary">На страницу про меня</a>
    </div>
</div>
{% endblock %}